<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/component_nav.css">
</head>

<body>
    <nav class="site-header sticky-top myNav">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" href="#" onclick="changeView('1')">发送接受配置</a>
            <a class="py-2 d-none d-md-inline-block" href="#" onclick="changeView('2')">可通信对象</a>
            <a class="py-2 d-none d-md-inline-block" href="#" onclick="changeView('3')">通信内容</a>
            <a class="py-2 d-none d-md-inline-block" href="#" onclick="changeView('4')">设置</a>
        </div>
    </nav>
    <div class="container" id="app">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="../public/imgs/icon_recv.svg" alt="" width="72" height="72">
            <h2>可通信对象</h2>
            <p class="lead">在这里，你可以找到尝试与你进行通信的对象。</p>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm" v-for="(group,index) in groups">
            <h6 class="border-bottom border-gray pb-2 mb-0">{{group.name}}</h6>
            <div class="media text-muted pt-3" v-for="(member,mindex) in group.members">
                <div class="col-md-4">
                    <img src="../public/imgs/icon_recv.svg" width="30" height="30">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{member.name}}</strong>
                        一个普通用户
                    </p>
                </div>
                <div class="offset-md-4 col-md-2">
                    <button class="btn btn-outline-primary btn-block" type="button"
                        v-on:click="sendDeleteMember(index,mindex)">通信</button>
                </div>
                <div class="col-md-2 ">
                    <button class="btn btn-outline-danger btn-block" type="button"
                        v-on:click="sendDeleteMember(index,mindex)">删除</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="新成员名称" v-model="group.newmemberName">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="新成员IP地址" v-model="group.newip">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-primary btn-block" type="button"
                        v-on:click="sendAddMember(index)">确认</button>
                </div>
                <!-- <small class="d-block text-right mt-3">
                    <a href="#">Add</a>
                </small> -->
            </div>
        </div>
        <hr class="mb-4">
        <label for="firstName">GroupName</label>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="新创建组的名称" v-model="newGroupName">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="button" v-on:click="addGroup()">确认</button>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
<script src="../public/js/component_nav.js"></script>
<script src="../public/js/vue.js"></script>
<script src="../public/js/jquery.slim.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/view_connectors.js"></script>